<ion-content no-bounce>
  <div class="login-background"></div>
  <ion-grid class="ion-no-padding">
    <ion-row class="ion-justify-content-center ion-no-padding">
      <ion-col size-sm="8" size-lg="6" size-xl="4" class="ion-align-self-center ion-no-padding">
        <div class="login-header ion-text-center">
          <h1 translate>APP_NAME</h1>
          <ion-list *ngIf="isWeb" color="primary" lines="none" class="ion-no-padding">
            <app-language-selector type="select" itemClass="ion-color ion-color-primary item-lines-none">
            </app-language-selector>
          </ion-list>
        </div>
        <div class="login-container">
          <form (ngSubmit)="login()" [formGroup]="loginForm" novalidate>
            <ion-text color="danger" [hidden]="!error || loginForm.dirty || isLoading">
              <span class="ion-padding" translate>Username or password incorrect.</span>
            </ion-text>
            <ion-list>
              <ion-item lines="inset">
                <ion-label color="medium" position="stacked" translate>Username</ion-label>
                <ion-input type="text" formControlName="username" autocomplete="username"></ion-input>
              </ion-item>
              <ion-text
                color="danger"
                [hidden]="loginForm.controls.username.valid || loginForm.controls.username.untouched"
              >
                <span class="ion-padding" translate>Username is required</span>
              </ion-text>
              <ion-item lines="inset">
                <ion-label color="medium" position="stacked" translate>Password</ion-label>
                <ion-input type="password" formControlName="password" autocomplete="current-password"></ion-input>
              </ion-item>
              <ion-text
                color="danger"
                [hidden]="loginForm.controls.password.valid || loginForm.controls.password.untouched"
              >
                <span class="ion-padding" translate>Password is required</span>
              </ion-text>
            </ion-list>
            <div class="ion-padding-horizontal">
              <ion-button
                type="submit"
                [disabled]="loginForm.invalid || isLoading"
                color="primary"
                expand="block"
                translate
              >
                Login
              </ion-button>
              <ion-button (click)="login('google')" expand="block" class="google">
                <ion-icon slot="start" name="logo-google"></ion-icon>
                <p><span translate>Continue with </span> <span> Google</span></p>
              </ion-button>
              <ion-button (click)="login('facebook')" expand="block" class="facebook">
                <ion-icon slot="start" name="logo-facebook"></ion-icon>
                <p><span translate>Continue with </span> <span> Facebook</span></p>
              </ion-button>
              <ion-button (click)="login('microsoft')" expand="block" class="microsoft">
                <ion-icon slot="start" name="logo-windows"></ion-icon>
                <p><span translate>Continue with </span> <span> Microsoft</span></p>
              </ion-button>
              <ion-button (click)="login('twitter')" expand="block" class="twitter">
                <ion-icon slot="start" name="logo-twitter"></ion-icon>
                <p><span translate>Continue with </span> <span> Twitter</span></p>
              </ion-button>
              <ion-button (click)="login('yahoo')" expand="block" class="yahoo">
                <ion-icon name="logo-yahoo"></ion-icon>
                <p><span translate>Continue with</span> <span> Yahoo</span></p>
              </ion-button>
              <p style="font-size: 10px;">
                <span translate>By continuing, you agree to</span>
                <a style="text-decoration: underline;" routerLink="/terms-and-conditions" translate
                  >Arsus's Conditions of Use</a
                >
                <span translate> and </span>
                <a style="text-decoration: underline;" routerLink="/privacy-policy" translate>Privacy Notice.</a>
              </p>
            </div>
          </form>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
