ion-grid,
ion-row {
  height: 100%;
}

.login-header,
.login-background {
  background-color: var(--ion-color-primary);
  color: var(--ion-color-primary-contrast);
}

.login-background {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 50%;
}

.login-container {
  background-color: var(--ion-background-color);
}

ion-button {
  margin: 1.5em 0;
}

.google {
  --background: #ffff;
  --color: rgba(5, 2, 2, 0.54);
}

.facebook {
  --background: #1877f2;
  --color: #ffffff;
}

.microsoft {
  --background: #2f2f2f;
  --color: #ffffff;
}

.twitter {
  --background: #00acee;
  --color: #ffffff;
}

.yahoo {
  --background: #720e9e;
  --color: #ffffff;
}
