.main {
  font-size: 27px;
  line-height: 140%;
  padding-left: calc(30vw / 2);
  padding-right: calc(30vw / 2);
}

:host ::ng-deep .main img {
  border: 0;
  display: block;
  width: auto;
  max-width: 80%;
  margin: calc(15vw / 2) auto;
  height: auto;
}

:host ::ng-deep .main div {
  margin: 50px 0;
}

:host ::ng-deep .main li:empty {
  display: none;
  height: 0;
  margin: 0;
  overflow: hidden;
}
