.articles {
  margin-bottom: 15em;
}

h1 {
  font-size: 2em;
  white-space: normal!important;
  font-weight: 700;
}

.center {
  display: flex;
  justify-content: center;
}

df-messenger {
  --df-messenger-bot-message: var(--ion-background-color);
  --df-messenger-button-titlebar-color: var(--ion-background-color);
  --df-messenger-chat-background-color: var(--ion-background-color);
  --df-messenger-font-color: var(--ion-color-dark);
  --df-messenger-send-icon: var(--ion-color-tertiary);
  --df-messenger-button-titlebar-font-color: var(--ion-color-dark);
  --df-messenger-user-message: var(--ion-color-tertiary);
  --df-messenger-input-font-color: var(--ion-color-step-600);
  --df-messenger-minimized-chat-close-icon-color: var(--ion-color-dark);
  --df-messenger-input-box-color: var(--ion-background-color); 
}

audio {
  display: block;
}

iframe {
  border: 0;
  width: 100%;
  height: 600px;
}

.expand {
  font-size: 20px;
}

ion-thumbnail {
  width: calc(20vw);
  height: calc(30vh - 8px);
}