.articles {
  margin-bottom: 15em;
}

h1 {
  font-size: 2em;
  white-space: normal !important;
  font-weight: 700;
}

.center {
  display: flex;
  justify-content: center;
}

audio {
  display: block;
}

iframe {
  border: 0;
  width: 100%;
  height: 600px;
}

.expand {
  font-size: 25px;
}

ion-thumbnail {
  width: calc(20vw);
  height: calc(30vh - 8px);
}

ion-col > p {
  color: var(--ion-color-step-600, #666666);
}

.pointer {
  cursor: pointer;
}

.container {
  position: relative;
}

.image {
  opacity: 1;
  display: block;
  width: 100%;
  height: auto;
  transition: 0.5s ease;
  backface-visibility: hidden;
}

.middle {
  transition: 0.5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}

.container:hover .image {
  opacity: 0.3;
}

.container:hover .middle {
  opacity: 1;
}

.text {
  background-color: #4caf50;
  color: white;
  font-size: 16px;
  padding: 16px 32px;
}
