<ion-app>
  <ion-router-outlet>
    <div class="background">
      <div class="preview-area">
        <div>
          <div class="sk-chase">
            <div class="sk-chase-dot"></div>
            <div class="sk-chase-dot"></div>
            <div class="sk-chase-dot"></div>
            <div class="sk-chase-dot"></div>
            <div class="sk-chase-dot"></div>
            <div class="sk-chase-dot"></div>
          </div>
          <h2 class="title">Hi {{ displayName$ | async }}</h2>
        </div>
      </div>
    </div>
  </ion-router-outlet>
</ion-app>
