<ng-container>
  <ion-item (click)="seeMore()">
    <ion-label>
      <ion-label>{{ from }}</ion-label>
      <p>{{ created_at }}</p>
    </ion-label>
    <ion-button
      (click)="segmentChanged({ detail: { value: 'content' } }); $event.stopPropagation()"
      fill="outline"
      slot="end"
      >Content</ion-button
    >
    <ion-button
      (click)="segmentChanged({ detail: { value: 'no-reply' } }); $event.stopPropagation()"
      fill="outline"
      slot="end"
      >Spam</ion-button
    >
    <ion-button
      (click)="segmentChanged({ detail: { value: 'NA' } }); $event.stopPropagation()"
      fill="outline"
      slot="end"
      >NA</ion-button
    >
  </ion-item>
</ng-container>
