<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title><span translate>Home</span></ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-card class="ion-text-center">
    <img class="logo" src="assets/icons/icon-512x512.png" alt="arsus logo" />
    <ion-card-content>
      <ion-card-title>
        <span translate>Arsus by Carlos Sanchez</span>
      </ion-card-title>
      <p>
        <app-loader [isLoading]="isLoading"></app-loader>
        <q [hidden]="isLoading">{{ quote }}</q>
      </p>
      <ion-list>
        <ion-item *ngIf="isInstalledPWA" (click)="install()" button>
          <ion-icon name="arrow-down-circle-outline" slot="start"></ion-icon>
          <p translate>Download app</p>
        </ion-item>
        <ion-item lines="none" button>
          <ion-icon name="moon" slot="start"></ion-icon>
          <ion-toggle (ionChange)="change()" [checked]="theme$ | async"></ion-toggle>
        </ion-item>
        <ion-item routerLink="/" lines="none" button>
          <ion-icon slot="start" name="newspaper-outline"></ion-icon>
          News
        </ion-item>
        <ion-item routerLink="/research" lines="none" button>
          <ion-icon slot="start" name="cube"></ion-icon>
          Research & Projects
        </ion-item>
        <ion-item lines="none" button>
          <ion-icon slot="start" name="information-circle-outline" target="_blank"></ion-icon>
          <a href="https://x.sanchezcarlosjr.com/resume">
            <span translate>About me -Résumé and contact form-.</span>
          </a>
        </ion-item>
      </ion-list>
    </ion-card-content>
  </ion-card>
</ion-content>
